<!DOCTYPE html>
<html>
    <head>
        <title>NGravatar</title>
        <style type="text/css">
            body {
                width: 960px;
                margin: 0 auto;
            }
            pre {
                font-size: small;
                color: darkgreen;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
